:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25em;
}

.wrapper {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

