html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "HelveticaNeue-Light", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
}

.button {
  height: 3.2em;
  background-color: rgba(0,0,0,.8);
  color: #f5f5f5;
  text-transform: uppercase;
  cursor: pointer;
  &.button_large {
    width: 100%;
  }
  &.button_small {
    width: 40%;
  }
  a {
    color: inherit;
  }
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
  border-radius: 10px;
}
