:host {
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.6);
  display: block;
  padding: 1.5em;
  font-size: 0.75em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.fa {
  margin-right: 4px;
}
