<div *ngIf="visible && cart" class="cart-wrapper" #cartContainer>
  <span *ngIf="cart.totalItemsCount == 0; else productCards" class="cart-wrapper__empty-cart">
    Your cart is empty
  </span>
  <ng-template #productCards>
    <div class="cart-items-wrapper">
      <app-cart-items [cart]="cart" [border]="false"></app-cart-items>
    </div>
    <div class="checkout">
      <a routerLink="/cart" class="checkout_action">View bag</a>
      <button class="button button_large">
        <a href="">Checkout</a>
      </button>
    </div>
  </ng-template>
</div>

