:host {
  position: relative;
  display: inline-block;
}

.wrapper {
  display: inline-block;
  &:hover .wrapper__filter {
    background: rgba(0, 0, 0, .1);
  }
  &:hover .wrapper__overlay {
    display: block;
  }
}

.wrapper__filter {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8pt;
  background: rgba(0,0,0,.06);
  padding: 0.6rem;
}

.wrapper__overlay {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, .1);
  width: 100%;
  display: none;
  z-index: 1;
}

.wrapper__overlay-content {
  li {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 7.5pt;
    padding: 0.6rem;
  }
}
